<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package
      Name="LMIGuardian"
      Manufacturer="LMIGuardian"
      Version="1.0.0"
      UpgradeCode="A3D1A1F2-1234-4E12-9B4C-000000000001"
      Scope="perUser">

    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

    <StandardDirectory Id="AppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="LMIGuardian">

        <!-- EXE -->
        <Component Id="ExeComponent" Guid="*">
          <File Source="UploadVideo.exe" KeyPath="yes"/>
        </Component>

        <!-- DLL -->
        <Component Id="DllComponent" Guid="*">
          <File Source="LMIGuardianDll.dll"/>
        </Component>

        <!-- Autorun -->
        <Component Id="AutorunComponent" Guid="*">
          <RegistryValue
            Root="HKCU"
            Key="Software\Microsoft\Windows\CurrentVersion\Run"
            Name="LMIGuardian"
            Value="[INSTALLFOLDER]UploadVideo.exe"
            Type="string"
            KeyPath="yes"/>
        </Component>

      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature">
      <ComponentRef Id="ExeComponent"/>
      <ComponentRef Id="DllComponent"/>
      <ComponentRef Id="AutorunComponent"/>
    </Feature>

  </Package>

</Wix>