<?xml version="1.0" encoding="UTF-8"?>

<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Package
      Name="LMIGuardian"
      Manufacturer="LMIGuardian"
      Version="1.0.1"
      UpgradeCode="A3D1A1F2-1234-4E12-9B4C-000000000001"
      Scope="perUser">

    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <StandardDirectory Id="AppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="LMIGuardian">

        <Component Id="ExeComponent" Guid="*">
          <File Id="UploadVideoExe" Source="UploadVideo.exe" KeyPath="yes"/>
        </Component>

        <Component Id="DllComponent" Guid="*">
          <File Id="GuardianDll" Source="LMIGuardianDll.dll" KeyPath="yes"/>
        </Component>

        <Component Id="AutorunComponent" Guid="*">
          <RegistryValue
            Root="HKCU"
            Key="Software\Microsoft\Windows\CurrentVersion\Run"
            Name="LMIGuardian"
            Value="&quot;[INSTALLFOLDER]UploadVideo.exe&quot;"
            Type="string"
            KeyPath="yes"/>
        </Component>

      </Directory>
    </StandardDirectory>

    <CustomAction
      Id="RunAppAfterInstall"
      FileRef="UploadVideoExe"
      ExeCommand=""
      Execute="immediate"
      Return="asyncNoWait"/>

    <InstallExecuteSequence>
      <Custom
        Action="RunAppAfterInstall"
        After="InstallFinalize"
        Condition="1" />
    </InstallExecuteSequence>

    <Feature Id="MainFeature">
      <ComponentRef Id="ExeComponent"/>
      <ComponentRef Id="DllComponent"/>
      <ComponentRef Id="AutorunComponent"/>
    </Feature>

  </Package>

</Wix>